* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #212121;
}

.searchContainer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  background: rgba(60, 61, 63, 0.527);
  height: 40px;
  width: 60px;
  margin-left: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.05px;
  color: white;
  font-size: 25px;
}

.AddButton {
  visibility: hidden;
  background-color: rgb(121, 157, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  font-size: 15px;
  width: auto;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 50px;
}

.fa-plus {
  font-size: 20px;
  padding: 0 10px;
}

.searchInput {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.05px;
  background-color: black;
  color: beige;
}

/* gallery section */

#galleryy {
  border-top: solid;
  border-color: white;
  border-width: 0.05px;
  width: 100%;
  columns: 5;
  /* gap: 20px; */

  width: 100%;
  padding: 40px;
}

#galleryy img {
  width: 100%;
  /* height: 100%; */
  margin-top: 10px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

#galleryy img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
